:root{

    --primary:#fdebf2;

    --hotpink:#fe4da3;

    --background:#fdebf2;

    --text:#666666;

    --purple:#6058f9;

    --blue:#50a3fc;

    --shadow:0 10px 30px rgba(0,0,0,.08);

    --radius:18px;

}